{"swagger":"2.0","info":{"version":"1.0.0","title":"SentimentDemo","description":"SentimentDemo"},"host":"pl400demo-text.cognitiveservices.azure.com","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/text/analytics/v2.0/sentiment":{"post":{"summary":"DetectSentiment","description":"The API returns a numeric score between 0 and 1. Scores close to 1 indicate positive sentiment, while scores close to 0 indicate negative sentiment.","operationId":"DetectSentiment","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"The 2 or 4 character language code for the text.","title":"Language","default":"en"},"id":{"type":"string","description":"An identifier for each document that you submit.","title":"ID","default":"\"1\""},"text":{"type":"string","description":"The text to analyze for sentiment.","title":"Text"}},"required":["id","language","text"]},"description":"documents"}},"default":{"documents":[{"language":"en-us","id":"1","text":"I enjoyed the new movie after a long day."}]},"required":["documents"]},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"score":{"type":"number","format":"float","description":"score"}}},"description":"documents"},"errors":{"type":"array","items":{},"description":"errors"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"Ocp-Apim-Subscription-Key"}},"security":[],"tags":[]}